<link rel="stylesheet" href="~/css/IdealniRacunar.css" />


<div class="sastaviRacunar">
    <div class="izborRacunara">
        <h1>Kupi gotov PC</h1>
        <label>Iznos koji ste spremni izdvojiti u KM</label><br>
        <input style="margin-top: 5px; margin-bottom: 5px; height: 30px; width: 180px;" type="text"><br>
        <label>Primarna namjena</label><br>
        <select style="margin-top: 5px; margin-bottom: 5px; height: 40px; width: 180px;">
            <option>Općenito</option>
            <option>Video igre</option>
            <option>Prostor za pohranu</option>
            <option>Programiranje</option>
            <option>Modeliranje</option>
        </select><br>
        <label>Sekundarna namjena</label><br>
        <select style="margin-top: 5px; margin-bottom: 5px; height: 40px; width: 180px;">
            <option>Općenito</option>
            <option>Video igre</option>
            <option>Prostor za pohranu</option>
            <option>Programiranje</option>
            <option>Modeliranje</option>
        </select><br>
        <label>Izaberite kućište</label><br>
        <select style="margin-top: 5px; margin-bottom: 5px; height: 40px; width: 180px;">
            <option>Namjena 1</option>
            <option>Namjena 2</option>
        </select><br>
        <button style="height: 40px; width: 180px; margin-top: 10px;">Sastavi računar</button>
    </div>
    <div class="slikaRacunara">
        <img src="https://content.ibuypower.com/Images/en-US/Lobby/Lobby_Intel_PC-v2.png">
    </div>
</div>