<link rel="stylesheet" href="~/css/Detalji.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="detalji">
    <h3>
        Proizvod je na Vašoj adresi za samo 48h!
    </h3>

</div>