<link rel="stylesheet" href="~/css/Detalji.css" />
<div class="detalji">
    <h3>ITShop je prvi korak prema “One-Stop-Shop" za sve vrste proizvoda i usluga koje pruža odjel za informatičke usluge.<h3> 
    <h3>U svom trenutnom razvojnom studiju omogućuje korisnicima da lahko kupuju hardver potreban za rad, studije, istraživanje i proučavanje.<h3>
    <h3>Korisnik će imati opciju da sam "sastavi" svoj idealni računar. Ako to ne želi, za odabrani iznos može dobiti računar sastavljen od strane naših uposlenika.</h3>
    <h3>Korisnik nam saopšti svoje potrebe, a mi pravimo računar idealan za navedenu svrhu.</h3>
    <h3>Kupovina je moguća samo ukoliko je korisnik prijavljen, a uz to, ukoliko je u pitanju student, dajemo pogodnosti prilikom kupovine hardvera.</h3>
   
</div>
