<head>
    <link rel="stylesheet" href="~/css/Prijava.css" />
</head>
<div class="login">

    <div class="loginContainer">
        <h1>PRIJAVA</h1>
        <p>Za prijavu unesite Vaše korisničke podatke</p>
        <hr>

        <label style="margin-bottom: 5px;" for="email"><b>E-MAIL :</b></label>
        <input style="width: 100%; height: 40px; text-align: center; margin-bottom: 15px; margin-top: 5px;" type="text" placeholder="Molimo Vas unesite Vaš korisnički e-mail" name="email" id="email" required>

        <label for="psw"><b>LOZINKA :</b></label>
        <input style="width: 100%; height: 40px; text-align: center; margin-bottom: 15px; margin-top: 5px;" type="password" placeholder="Molimo Vas unesite lozinku za Vaš korisnički račun" name="psw" id="psw" required>


        <button type="submit" class="loginButton">PRIJAVA</button>
    </div>

    <div class="loginContainer lRegistracija">
        <p>Još uvijek nemate svoj korisnički račun? Registruj se <a href="/Home/Registracija">ovdje</a>.</p>
    </div>


</div>

