<link rel="stylesheet" href="~/css/ZavrsenaKupovina.css" />

<div class="zavrsenaKupovina">
    <h1>Unesite podatke za naplatu</h1>
    <hr style="width: 50%;"><br>
    <input type="text" placeholder="Unesite ime sa Vaše kreditne kartice" style="width: 350px; height: 35px; text-align: center;"><br><br>
    <input type="number" placeholder="Unesite broj Vaše kreditne kartice" style="width: 350px; height: 35px; text-align: center;"><br><br>
    <input type="number" placeholder="MM" style="width: 70px; height: 35px; text-align: center;">
    <input type="number" placeholder="YY" style="width: 70px; height: 35px; text-align: center;">
    <input type="number" placeholder="CCC" style="width: 185px; height: 35px; text-align: center;"><br><br>
    <a href="/Home/Index"<button style="width: 355px; height: 40px;">PLATI KREDITNOM KARTICOM</button></a>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}