<link rel="stylesheet" href="~/css/Placanje.css" />
<div class="placanjeIzbor">

    <h1>Odaberite način plaćanja</h1>

    <div class="ikonePlacanje">
        <ul>
            <li>
                <input type="checkbox" id="myCheckbox1" />
                
                    <label style="width: 250px;" for="myCheckbox1" ><img src="https://cdn3.iconfinder.com/data/icons/online-shopping-line-flash-deals/512/Cash_on_delivery-512.png"><br>Plaćanje pouzeću</label>

            </li>
            <li>

                <input type="checkbox" id="myCheckbox2" />
   
                    <label style="width: 250px;" for="myCheckbox2"><img src="https://www.inventicons.com/uploads/iconset/886/wm/512/online_payment-84.png"> <br> Online plaćanje</label>
            </li>

        </ul>
    </div>

    <button style="width: 200px; height: 40px;">Poništi plaćanje</button>
    <button style="width: 200px; height: 40px;">Potvrdi plaćanje</button>
</div>
