.detalji {
    background-color: #433f68;
    width: 40%;
    text-align: center;
    align-content: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 10px;
}
