.sastaviRacunar {
    clear: both;
    display: flex;
    width: 40%;
    background-color: #3199CE;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    .sastaviRacunar label {
        font-size: 18px;
    }

.izborRacunara {
    flex: 60%;
}

.slikaRacunara {
    padding-top: 50px;
    flex: 40%;
    text-align: center;
    margin: auto;
}
