.zavrsenaKupovina {
    clear: both;
    width: 40%;
    background-color: #3199CE;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
